@import url(../../styles/variables.css);

#container {
  background-color: #ffeedd;
  margin: 1em auto;
  width: 80%;
  max-width: 600px;
  padding: 15px;
  box-shadow: 0.2em 0.2em 0.5em 0.005em #00000080;
  border-radius: 0.8em;
}

#top {
  display: flex;
  border-bottom: 2px solid var(--transparent-gray);

  div[id="container-heading"] {
    flex: 3;

    h1 {
      font-size: 2em;
      font-style: italic;
      margin: 0;
    }
  }

  div[id="top-controls"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex: 1;

    buttom {
      flex: 1;
    }
  }
}

#list-wrapper {
  border: 1px solid var(--transparent-gray);
  margin: 15px;
}

#bottom-controls {
  display: flex;

  > div {
    flex-grow: 1;
    display: flex;

    button {
      /*this guy should be a separate class*/
      flex: 1;
      padding: 0.4em;
      border: 1px solid var(--transparent-gray);
      border-radius: 0.8em;
      font-size: 1em;
    }
  }
}
