@import url("variables.css");
@import url("reset.css");

body {
  background-color: var(--background-test);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
