@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway&display=swap");

:root {
  --font-sans: "Inter", Arial, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;

  --transparent-gray: #967272aa;
  --darkbrownink: #483232;
}
