@import url("../../styles/variables.css");

.list {
  > li {
    margin: 8px 0px;
    border-bottom: 1px dotted var(--transparent-gray);
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.input_div_ckbox {
  flex-grow: 1;
}

.input_div_txt {
  flex-grow: 99;
}
